{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<body class="bgcolorabout">
    <div>
        <h1 class="welcomeabout">Welcome!</h1>
        <button onclick="window.location.href='{{ url_for('logout') }}'" class="logoutbtn">Logout</button>
    </div>

<script>
    document.getElementById('changeProfilePic').addEventListener('click', funciton() {
        document.getElementById('fileInput').click();
    });

    document.getElementById('fileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('profile-pic').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });
</script>
</body>
{% endblock %}
