{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2 class="card-title p-5">Buy Stock Shares</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="symbol" placeholder="Symbol"
                type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" name="shares" placeholder="Shares"
                type="number" min="1">
        </div>
        <button class="btn btn-primary p-2" style="width:10%" type="submit">Buy</button>
    </form>
{% endblock %}
