{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h2 class="card-title p-5">Transaction History</h2>
    <div class="table-responsive" style="overflow: auto; max-height: 580px">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Transaction date</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{stock['symbol']}}</td>
                    <td>{{stock['shares']}}</td>
                    <td>{{stock['price']}}</td>
                    <td>{{stock['total_price']}}</td>
                    <td>{{stock['date_created']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
